 *{
  margin: 0;
  padding:0 ;
}
body {
 background-image: url("azad5.png.jpg");  /* image ka path */
  background-repeat: no-repeat;            /* image repeat na ho */
  background-size: cover;                  /* poore page ko cover kare */
  background-attachment: fixed;            /* scroll karne par bhi fix rahe */

}

/*.navbar{
    background:linear-gradient(#e28467,#a55d6b,#2a2f57);
       margin:80px 300px;
    height: 60px;
     border-radius: 6px;


}*/

.navbar{
   box-shadow: 0 0 20px 5px rgba(138,43,226,0.9);
  transition:0.9s;
   margin:80px 300px;
    height: 60px;
     border-radius: 6px;
    background: black;
}

.navbar ul{
    display: flex;
      margin-right:20px;
     align-items: center;
    justify-content: end;
    
    
}

.navbar li{
   
    font-family: 'open sans',Arial, Helvetica, sans-serif;
     padding:15px 170px;
    list-style: none;
     margin-top: -70px;
     padding:0px 17px;
       color:white;

}
           
.navbar h1{
  font-family: 'open sans',Arial, Helvetica, sans-serif;
      padding:15px 90px;
       color:white;
 margin-top:-65px;

}

.navbar li:hover{
   box-shadow: px px 40px 0px  rgba(255, 0, 0, 0.2);
   color: black;
   transition: 0.7s;
    box-shadow: 0 0 20px 5px rgba(226, 43, 70, 0.9);
  transition:0.9s;
    background: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
   
}

.main h1{
  color: white;
  margin-left:150px;
  font-size:40px;
  margin-top:150px;
  font-weight: 20px;
}

.main p{
   color:white;
  margin-left:120px;
  padding:20px 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
  margin:50px 400px;
 padding:10px;
 border-radius:30px;
 border:2px solid rgb(70, 44, 44);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
   background:linear-gradient(#e28467,#a55d6b,#2a2f57);

}

.button:hover{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 0 20px 5px rgba(226, 43, 70, 0.9);
  transition:0.9s;
    background: black;
    color: white;
} 

 
.navbar:hover{
  box-shadow: 0 0 20px 5px rgba(138,43,226,0.9);
  transition:0.9s;
    background: black;
  
}

.navbar img{
 width:90px;
 height:60px;
}

.footer{
  width: 500px;
  height: 100px;
  background:linear-gradient(#0f012c,black,#2e040c);
  color: white;
  margin-top: 100px;
   box-shadow: 0 0 20px 5px rgba(9, 5, 90, 0.9);

}


.footer p{
 padding:5px 5px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #b9a9dad9;
} 
